body {
    margin: 0;
    padding: 0;
}

.col-2 {
    background-color: rgb(35, 35, 35);
    height: 97vh;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.col-2 > img {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.col-2 > h5 {
    margin-bottom: 2vh;
}

.col-2 > .logout {
    margin-top: 46vh;
}

h5 > a {
    text-decoration: none;
    color: white;
}

u {
    text-decoration-color: white;
}

.col-7 > h1 {
    margin-top: 10vh;
    margin-left: 2vw;
}

.container-md {
    border: 2px solid #000;
    height: 60vh;
    border-radius: 10px;
    margin-top: 4vh;
}